<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>self-ml</string>
	<key>uuid</key>
	<string>4D604D3C-8A0E-454B-8D1E-3934F58AB117</string>
</dict>
</plist>
