<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>selfml</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(</string>
	<key>foldingStopMarker</key>
	<string>)</string>
	<key>keyEquivalent</key>
	<string>^~S</string>
	<key>name</key>
	<string>self-ml</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.selfml</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(#).*$\n?</string>
			<key>name</key>
			<string>comment.line.number-sign.selfml</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>`</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.selfml</string>
				</dict>
			</dict>
			<key>end</key>
			<string>`</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.selfml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.backtick.selfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>``</string>
					<key>name</key>
					<string>constant.character.escape</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>(?x)
	(?&lt;=(\()) # preceded by space or (
	[^ \s\(\)\[\]\{\}#]+
	(?=(\s|\)|\()) # followed by space or (
</string>
			<key>name</key>
			<string>keyword.selfml</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#bcomment</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#bstring</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>bcomment</key>
		<dict>
			<key>begin</key>
			<string>\{#</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.selfml</string>
				</dict>
			</dict>
			<key>end</key>
			<string>#\}</string>
			<key>name</key>
			<string>comment.block.selfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#bcomment</string>
				</dict>
			</array>
		</dict>
		<key>bstring</key>
		<dict>
			<key>begin</key>
			<string>\[</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.selfml</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\]</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.selfml</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.bracket.selfml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#bstring</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.self-ml</string>
	<key>uuid</key>
	<string>388C9E4F-23B1-4B70-A496-7DCF86B92D20</string>
</dict>
</plist>
